:root {
  font-size: 6.25%;
  --header: "Poppins", sans-serif;

  --primary-color: #eee;
  --secondary-color: #191a1a;
  --tertiary-color: #7d7b7b;

  --primary-color: #9cb8dc;
  --secondary-color: #191a1a;

  --accent1-color: #c99644;
  --accent2-color: #da5747;
  --accent3-color: #538f74;
  --accent4-color: #6894b1;
  --accent5-color: #b168b1;
}
